
html,body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
}

.home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100%;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
