@require './app.styl'


.signin-area {
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  margin-top: 0
  font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif
}

.login-btn{
  background-color: rgb(51,89,223)
  padding: 10px 70px
  height: 20px
  color: #fff
  font-size: 1rem
  text-decoration: none
  border: none
}

.logo{
    display: flex
    flex-direction: row

    .title-text{
      color: rgb(51,89,223)
      font-size: 3rem
    }

    .logo-img{
      height: 50px
      position: absolute
    }

    .login-logo-text{
      color: rgb(51,89,223)
      margin-right: 30px
      padding-left: 16.5px
      padding-top: 8px
      font-size: 25px
      display: inline
      font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif
      }
      .quote{
        width: 100%
      }
}
